
<div id="container">
    <script src="/assets/vendor/keyboard.js"></script>

<div class="container-fluid">
  <script src="assets/vendor/keyboard.js"></script>
  <script src="node_modules/angular-hotkeys/build/hotkeys.js"></script>

    <div class="row">


        <div class="col-xl-12 text-center">
              <div class="btn-group" style="width: 900px; height: 38px" role="group" aria-label="...">
                <div class="input-group">
                    <input (keydown.enter)="addText()" type="text" style="font-family:selected;" class="form-control" placeholder="Your Text Here" aria-label="Your Text Here..." [(ngModel)]="textString">

                </div>
                   <div class="custom-item-body" style="width: 600px">
                        <select [(ngModel)]="props.fontFamily" class="form-control" (change)="setFontFamily()">
                            <option value="arial" style="font-family:arial;">Arial</option>
                            <option value="helvetica" style="font-family:helvetica;" selected>Helvetica</option>
                            <option value="verdana" style="font-family:verdana;">Verdana</option>
                            <option value="courier" style="font-family:courier;">Courier</option>
                            <option value="actionis" style="font-family:actionis;">Actionis</option>
                            <option value="actionj" style="font-family:actionj;">Actionj</option>
                            <option value="arthriti" style="font-family:arthriti;">Arthriti</option>
                            <option value="AUTOMANI" style="font-family:AUTOMANI;">Automani</option>
                            <option value="bloktilt" style="font-family:bloktilt;">Bloktilt</option>
                            <option value="Blox2" style="font-family:Blox2;">Blox2</option>
                            <option value="breakaway" style="font-family:breakaway;">Breakaway</option>
                            <option value="BroadcastTitling" style="font-family:BroadcastTitling;">BroadcastTitling</option>
                            <option value="Bubble3D" style="font-family:Bubble3D;">Bubble3D</option>
                            <option value="Casper" style="font-family:Casper;">Casper</option>
                            <option value="CevicheOne-Regular" style="font-family:CevicheOne-Regular;">CevicheOne-Regular</option>
                            <option value="CHLORINR" style="font-family:CHLORINR;">Chlorinr</option>
                            <option value="clawless" style="font-family:clawless;">Clawless</option>
                            <option value="Confarreatio" style="font-family:Confarreatio;">Confarreatio</option>
                            <option value="crackman" style="font-family:crackman;">Crackman</option>
                            <option value="cut the paper" style="font-family:cut the paper;">Cut the paper</option>
                            <option value="DancingDonutsNF" style="font-family:DancingDonutsNF;">DancingDonutsNF</option>
                            <option value="DavysRibbons" style="font-family:DavysRibbons;">DavysRibbons</option>
                            <option value="degrassi" style="font-family:degrassi;">Degrassi</option>
                            <option value="Disco3" style="font-family:Disco3;">Disco3</option>
                            <option value="Doergon" style="font-family:Doergon;">Doergon</option>
                            <option value="Duo-Dunkel" style="font-family:Duo-Dunkel;">Duo-Dunkel</option>
                            <option value="Duo-Licht" style="font-family:Duo-Licht;">Duo-Licht</option>
                            <option value="Full-TiltBoogieNF" style="font-family:Full-TiltBoogieNF;">Full-TiltBoogieNF</option>
                            <option value="gomarice_goma_block" style="font-family:gomarice_goma_block;">Gomarice_goma_block</option>
                            <option value="Gradientico" style="font-family:Gradientico;">Gradientico</option>
                            <option value="GWIBBLE" style="font-family:GWIBBLE;">Gwibble</option>
                            <option value="HAWAIIAH" style="font-family:HAWAIIAH;">Hawaiiah</option>
                            <option value="hawkeye" style="font-family:hawkeye;">Hawkeye</option>
                            <option value="HEXAGON" style="font-family:HEXAGON;">Hexagon</option>
                            <option value="LETTERS" style="font-family:LETTERS;">Letters</option>
                            <option value="LETTIF" style="font-family:LETTIF;">Lettif</option>
                            <option value="MISTV" style="font-family:MISTV;">Mistiv</option>
                            <option value="musicals" style="font-family:musicals;">Musicals</option>
                            <option value="NIPPONBL" style="font-family:NIPPONBL;">Nipponbl</option>
                            <option value="obloquyo" style="font-family:obloquyo;">Obloquyo</option>
                            <option value="obloquys" style="font-family:obloquys;">obloquys</option>
                            <option value="outersid" style="font-family:outersid;">Outersid</option>
                            <option value="PickledPansies" style="font-family:PickledPansies;">PickledPansies</option>
                            <option value="SAMARIN" style="font-family:SAMARIN;">Samarin</option>
                            <option value="Swirled2" style="font-family:Swirled2;">Swirled2</option>
                            <option value="Tolo" style="font-family:Tolo;">Tolo</option>
                            <option value="waver" style="font-family:waver;">waver</option>
                            <option value="UNICODE0" style="font-family:UNICODE0;">Unicode0</option>
                            <option value="xtrusion" style="font-family:xtrusion;">Xtrusion</option>
                        </select>

                </div>
                <div class="custom-item-body" style="width: 600px">
                    <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.fill" [style.background]="props.fill"
                        [value]="props.fill" (colorPickerChange)="setFill()">
                </div>
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': props.fontWeight }" (click)="setBold()">
                    <i class="fa fa-bold"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': props.fontStyle }" (click)="setFontStyle()">
                    <i class="fa fa-italic"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('underline') }"
                    (click)="setTextDecoration('underline')">
                    <i class="fa fa-underline"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('overline') }"
                    (click)="setTextDecoration('overline')">
                    <i class="fa fa-underline fa-flip-vertical"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': hasTextDecoration('line-through') }"
                    (click)="setTextDecoration('line-through')">
                    <i class="fa fa-strikethrough"></i>
                </button>
                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'left' }" (click)="setTextAlign('left')">
                    <i class="fa fa-align-left"></i>
                </button>
                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'center' }" (click)="setTextAlign('center')">
                    <i class="fa fa-align-center"></i>
                </button>
                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'right' }" (click)="setTextAlign('right')">
                    <i class="fa fa-align-right"></i>
                </button>
                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'justify' }" (click)="setTextAlign('justify')">
                    <i class="fa fa-align-justify"></i>
                </button>
              </div>

              <hr style="width: 1px; height: 10px; color: black; display: inline-block;">
              <button data-toggle="tooltip" data-placement="bottom" title="Export to image" type="button" class="btn btn-primary" (click)="rasterize();">
                  <i class="fa fa-download" aria-hidden="true"></i> Export to image</button>
              <button data-toggle="tooltip" data-placement="bottom" title="Export to SVG" type="button" class="btn btn-primary" (click)="rasterizeSVG();">
                  <i class="fa fa-download" aria-hidden="true"></i> Export to SVG</button>
              <button data-toggle="tooltip" data-placement="bottom" title="Save in localStorage" type="button" class="btn btn-primary"
                  (click)="saveCanvasToJSON();">
                  <i class="fa fa-save" aria-hidden="true"></i> Save local</button>
              <button data-toggle="tooltip" data-placement="bottom" title="Load from localStorage" type="button" class="btn btn-primary"
                  (click)="loadCanvasFromJSON();">
                  <i class="fa fa-save" aria-hidden="true"></i> Load local</button>
              <button data-toggle="tooltip" data-placement="bottom" title="Clean Canvas" type="button" class="btn btn-danger" (click)="confirmClear();">
                  <i class="fa fa-ban" aria-hidden="true"></i> Clean</button>
        </div>
    </div>
    <hr>
    <div class="row" style="max-width: 100%; margin:auto">
        <div class="col-xs-2 text-right">
            <div class="btn-group-vertical" role="group" aria-label="...">
              <button data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button" class="btn btn-outline-danger" [disabled]="!selected"
                  (click)="removeSelected();">
                  <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Send to back" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                  (click)="sendToBack();">
                  <i class="fas fa-backward" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Send to front" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                  (click)="bringToFront();">
                  <i class="fas fa-forward" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Clone" type="button" class="btn btn-outline-primary" [disabled]="!selected || selected.type == 'group'"
                  (click)="clone();">
                  <i class="fa fa-clone" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Unselect" type="button" class="btn btn-outline-primary" [disabled]="!selected"
                  (click)="cleanSelect()">
                  <i class="fa fa-minus-square" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Rectangle" type="button" class="btn btn-outline-primary"
                  (click)="addFigure('rectangle')">
                  <i class="fas fa-vector-square" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Triangle" type="button" class="btn btn-outline-primary"
                  (click)="addFigure('triangle')">
                  <i class="fas fa-caret-up" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Circle" type="button" class="btn btn-outline-primary"
                  (click)="addFigure('circle')">
                  <i class="far fa-circle" aria-hidden="true"></i>
              </button>
            </div>
            <br/>
        </div>
        <div class="col-xs-6">
          <div class="img-container">
             <div class="positioning">
               <canvas id="canvas"> </canvas>
             </div>
             <img width="1000" src="assets/img/shirt.jpg" />
          </div>
        </div>
        <div class="col-xl-2">
          <div class="card" style="max-width: 200px">
              <div class="card-header">Add images</div>
              <div class="card-body max-height">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/pikachu.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/squirtle.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/bullbasaur.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/charmander.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/bellsprout.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/caterpie.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/dratini.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/eevee.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/jigglypuff.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/mankey.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/meowth.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/pidgey.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/psyduck.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/rattata.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/abra.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/snorlax.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/zubat.svg">
              </div>
          </div>
          <br/>
          <div class="card" style="max-width: 200px">
              <div class="card-header">Upload image</div>
              <div class="card-body text-center">
                  <img id="testImage" *ngIf="url" class="images-item-upload" [src]="url" (click)="addImageOnCanvas(url);">
                  <input type="file" (change)="readUrl($event);">
                  <br/>
                  <br/>
                  <div class="btn-group btn-group-justified" role="group" aria-label="...">
                      <div class="btn-group" role="group">
                          <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(url);">
                              <i class="fa fa-times" aria-hidden="true"></i> Remove</button>
                      </div>
                  </div>
              </div>
          </div>
            <div class="card" *ngIf="!selected" style="max-width: 200px">
                <div class="card-header">Canvas</div>
                <div class="card-body">
                    <div class="custom-item" *ngIf="!props.canvasImage">
                        <div class="custom-item-title">Background Color</div>
                        <div class="custom-item-body">
                            <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.canvasFill" [style.background]="props.canvasFill"
                                [value]="props.canvasFill" (colorPickerChange)="setCanvasFill()">
                        </div>
                    </div>
                    <div class="custom-item">
                        <div class="custom-item-title">Background Image (url)</div>
                        <div class="custom-item-body">
                            <input type="text" class="form-control" placeholder="http://example.jpg" [(ngModel)]="props.canvasImage" (keyup)="setCanvasImage()">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card" style="max-width: 200px">
                <div class="card-header">Custom</div>
                <div class="card-body">
                    <div class="custom-item" *ngIf="selected  && selected.type == 'group'">Group Selected</div>
                    <div class="custom-item" *ngIf="!selected">No items selected</div>
                    <div class="custom-item" *ngIf="selected && selected.type != 'group'">
                        <div class="custom-item-title">ID</div>
                        <div class="custom-item-body">
                            <input type="text" class="form-control" [(ngModel)]="props.id" (keyup)="setId()">
                        </div>
                    </div>
                    <div class="custom-item" *ngIf="selected && selected.type != 'group'">
                        <div class="custom-item-title">Opacity</div>
                        <div class="custom-item-body">
                            <input type="range" [(ngModel)]="props.opacity" (change)="setOpacity()">{{props.opacity}}</div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Char Spacing</div>
                        <div class="custom-item-body">
                            <input type="range" [(ngModel)]="props.charSpacing" (change)="setCharSpacing()" step="10" min="-200" max="800">{{props.charSpacing}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <br/>
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary btn-sm" (click)="rasterizeJSON()">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Render to json</button>
                </div>
                <div class="card-body">
                    <pre>{{json}}</pre>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
