@font-face {
    font-family: "actionis";
    src: url("assets/fonts/actionis.ttf");
}

@font-face {
    font-family: "actionj";
    src: url("assets/fonts/actionj.ttf");
}

@font-face {
    font-family: "arthriti";
    src: url("assets/fonts/arthriti.ttf");
}

@font-face {
    font-family: "AUTOMANI";
    src: url("assets/fonts/AUTOMANI.ttf");
}

@font-face {
    font-family: "bloktilt";
    src: url("assets/fonts/bloktilt.ttf");
}

@font-face {
    font-family: "Blox2";
    src: url("assets/fonts/Blox2.ttf");
}

@font-face {
    font-family: "breakaway";
    src: url("assets/fonts/breakaway.ttf");
}

@font-face {
    font-family: "BroadcastTitling";
    src: url("assets/fonts/BroadcastTitling.ttf");
}

@font-face {
    font-family: "Bubble3D";
    src: url("assets/fonts/Bubble3D.ttf");
}

@font-face {
    font-family: "Casper";
    src: url("assets/fonts/Casper.ttf");
}

@font-face {
    font-family: "CevicheOne-Regular";
    src: url("assets/fonts/CevicheOne-Regular.ttf");
}

@font-face {
    font-family: "CHLORINR";
    src: url("assets/fonts/CHLORINR.ttf");
}

@font-face {
    font-family: "clawless";
    src: url("assets/fonts/clawless.ttf");
}

@font-face {
    font-family: "Confarreatio";
    src: url("assets/fonts/Confarreatio.otf");
}

@font-face {
    font-family: "crackman";
    src: url("assets/fonts/crackman.ttf");
}

@font-face {
    font-family: "cut the paper";
    src: url("assets/fonts/cut_the_paper.ttf");
}

@font-face {
    font-family: "DancingDonutsNF";
    src: url("assets/fonts/DancingDonutsNF.ttf");
}

@font-face {
    font-family: "DavysRibbons";
    src: url("assets/fonts/DavysRibbons.ttf");
}

@font-face {
    font-family: "degrassi";
    src: url("assets/fonts/degrassi.ttf");
}


@font-face {
    font-family: "Disco3";
    src: url("assets/fonts/Disco3.ttf");
}

@font-face {
    font-family: "Doergon";
    src: url("assets/fonts/Doergon.ttf");
}

@font-face {
    font-family: "Driftwood";
    src: url("assets/fonts/Driftwood.ttf");
}

@font-face {
    font-family: "Duo-Dunkel";
    src: url("assets/fonts/Duo-Dunkel.ttf");
}

@font-face {
    font-family: "Duo-Licht";
    src: url("assets/fonts/Duo-Licht.ttf");
}

@font-face {
    font-family: "Full-TiltBoogieNF";
    src: url("assets/fonts/Full-TiltBoogieNF.ttf");
}

@font-face {
    font-family: "gomarice_goma_block";
    src: url("assets/fonts/gomarice_goma_block.ttf");
}

@font-face {
    font-family: "Gradientico";
    src: url("assets/fonts/Gradientico-italic.ttf");
}

@font-face {
    font-family: "GWIBBLE";
    src: url("assets/fonts/GWIBBLE.ttf");
}

@font-face {
    font-family: "HAWAIIAH";
    src: url("assets/fonts/HAWAIIAH.ttf");
}

@font-face {
    font-family: "hawkeye";
    src: url("assets/fonts/hawkeye.ttf");
}

@font-face {
    font-family: "HEXAGON";
    src: url("assets/fonts/HEXAGON.ttf");
}

@font-face {
    font-family: "LETTERS";
    src: url("assets/fonts/LETTERS.ttf");
}

@font-face {
    font-family: "LETTIF";
    src: url("assets/fonts/LETTIF.ttf");
}

@font-face {
    font-family: "MISTV";
    src: url("assets/fonts/MISTV.ttf");
}

@font-face {
    font-family: "musicals";
    src: url("assets/fonts/musicals.ttf");
}

@font-face {
    font-family: "NIPPONBL";
    src: url("assets/fonts/NIPPONBL.ttf");
}

@font-face {
    font-family: "obloquyo";
    src: url("assets/fonts/obloquyo.ttf");
}

@font-face {
    font-family: "obloquys";
    src: url("assets/fonts/obloquys.ttf");
}

@font-face {
    font-family: "outersid";
    src: url("assets/fonts/outersid.ttf");
}

@font-face {
    font-family: "PickledPansies";
    src: url("assets/fonts/PickledPansies.ttf");
}

@font-face {
    font-family: "SAMARIN";
    src: url("assets/fonts/SAMARIN.ttf");
}

@font-face {
    font-family: "Swirled2";
    src: url("assets/fonts/Swirled2.ttf");
}

@font-face {
    font-family: "Tolo";
    src: url("assets/fonts/Tolo.ttf");
}

@font-face {
    font-family: "UNICODE0";
    src: url("assets/fonts/UNICODE0.ttf");
}

@font-face {
    font-family: "waver";
    src: url("assets/fonts/waver.ttf");
}

@font-face {
    font-family: "xtrusion";
    src: url("assets/fonts/xtrusion.ttf");
}
